* {
    box-sizing: border-box;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(110, 106, 3);
    font-family: 'Pacifico', cursive;
}

#board {
    width: 1180px;
    height: 530px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    margin: 20px auto;
    border: 5px solid black;
    cursor: pointer;
}

#result {
    color: rgb(227, 120, 67);
}

h1 {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 60px;
}

.status-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 55px 0 55px;
}

h2 {
    align-self: center;
    font-size: 45px;
}

#timer {
    color: rgb(227, 120, 67);
}

.end-message button {
    width: 300px;
    height: 100px;
    border: 3px solid rgb(227, 120, 67);
    color: rgb(227, 120, 67);
    font-size: 2em;
    cursor: pointer;
    margin-bottom: 30px;
}

.end-message button:hover {
    font-size: 50px;
    color: rgb(110, 106, 3);
    background-color: rgb(227, 120, 67);
}

.end-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-message.show {
    display: flex;
}

#end-message-text {
    color: rgb(227, 120, 67);
    font-size: 5em;
    background: transparent;
    margin-bottom: 1em;
    text-align: center;
}

.clicked {
    pointer-events: none;
}

.end-message img {
    max-height: 30vh;
    background: transparent;
}

@media (max-width: 1180px) {
    #board {
        width: 790px;
        height: 787px;
    }
}

@media (max-width: 790px) {
    #board {
        width: 530px;
        height: 1180px;
    }
}